.idea
__pycache__
/dataset/*
!/dataset/README.md
/data_process/data.txt
/saved_model/*
!/saved_model/README.md
/test_data/*
!/test_data/README.md
/test_results_during_training/*
!/test_results_during_training/README.md